Repository celestiaorg/cosmos-sdk, pull requests merged in 2022-05, with the labels that each got.

#133 fix: Fix tests after qgb changes
  client/flags/flags.go
  go.mod
  go.sum
  simapp/simd/cmd/testnet.go
  testutil/network/network.go
  x/auth/client/testutil/suite.go
  x/auth/legacy/v043/store_test.go
  x/distribution/simulation/operations_test.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/testutil/suite.go
  x/genutil/gentx_test.go
  x/genutil/types/genesis_state_test.go
  x/gov/common_test.go
  x/gov/keeper/common_test.go
  x/slashing/app_test.go
  x/slashing/simulation/operations_test.go
  x/staking/app_test.go
  x/staking/bench_test.go
  x/staking/client/cli/flags.go
  x/staking/client/cli/tx.go
  x/staking/client/cli/tx_test.go
  x/staking/client/testutil/suite.go
  x/staking/common_test.go
  x/staking/genesis_test.go
  x/staking/handler_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/querier_test.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/validator_test.go
  x/staking/legacy/v043/store_test.go
  x/staking/simulation/decoder_test.go
  x/staking/simulation/operations.go
  x/staking/simulation/operations_test.go
  x/staking/teststaking/helper.go
  x/staking/teststaking/validator.go
  x/staking/types/historical_info_test.go
  x/staking/types/keys_test.go
  x/staking/types/msg_test.go
  x/staking/types/validator_test.go
Labels: bug, C: QGB

#139 chore: Swap tendermint for celestia-core for v0.46.0-beta2
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/atlas.yml
  .github/workflows/docker.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  baseapp/abci.go
  contrib/devtools/Makefile
  go.mod
  go.sum
  x/auth/client/testutil/suite.go
Labels: C: app

#138 feat: Adds validator qgb checks tests
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/keeper/querier_test.go
  x/evidence/keeper/infraction_test.go
  x/slashing/abci_test.go
  x/slashing/handler_test.go
  x/slashing/keeper/keeper_test.go
  x/staking/handler_test.go
  x/staking/keeper/msg_server.go
  x/staking/teststaking/helper.go
  x/staking/types/ethereum.go
Labels: enhancement, C: QGB

#145 feat: Update the QGB branch to follow the latest release
  .github/CODEOWNERS
  .github/workflows/check-docs.yml
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  .github/workflows/sims.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
  Makefile
  README.md
  contrib/rosetta/node/Dockerfile
  contrib/rosetta/rosetta-cli/Dockerfile
  go.mod
  go.sum
  x/auth/client/testutil/suite.go
Labels: C: QGB

#150 chore: override configs during Init and bump core
  go.mod
  go.sum
  server/util.go
  x/genutil/client/cli/init.go
Labels: dependencies, C: app
