Repository celestiaorg/cosmos-sdk, pull requests merged in 2025-08, with the labels that each got.

#661 chore: distribution fix flups
  Makefile
  README.md
  tests/integration/distribution/keeper/msg_server_test.go
Labels: Type: Build, WS: v6

#655 fix!: claim rewards when there is no delegation
  Makefile
  README.md
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
Labels: Type: Build, C:x/distribution, WS: v6

#667 chore(deps): upgrade cosmos-ledger-go on v0.50.x
  Makefile
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: Type: Build, C:x/upgrade
