Repository celestiaorg/cosmos-sdk, pull requests merged in 2025-03, with the labels that each got.

#430 feat: cosmos-sdk fork from celestia
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  api/cosmos/vesting/v1beta1/tx.pulsar.go
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  baseapp/params.go
  baseapp/query_router.go
  baseapp/query_router_test.go
  baseapp/utils_test.go
  crypto/keyring/keyring.go
  proto/cosmos/vesting/v1beta1/tx.proto
  simapp/app.go
  simapp/app_test.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  types/module/testutil/codec.go
  types/router.go
  x/auth/keeper/keeper.go
  x/auth/migrations/v5/migrate.go
  x/auth/migrations/v5/migrate_test.go
  x/auth/types/keys.go
  x/auth/vesting/README.md
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/msg_server_test.go
  x/auth/vesting/types/msgs.go
  x/auth/vesting/types/tx.pb.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/migrations.go
  x/consensus/keeper/keeper.go
  x/consensus/module.go
  x/upgrade/CHANGELOG.md
  x/upgrade/abci_test.go
  x/upgrade/exported/exported.go
  x/upgrade/go.mod
  x/upgrade/go.sum
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/keeper/migrations.go
  x/upgrade/module.go
  x/upgrade/types/keys.go
Labels: C:x/auth, C:x/bank, C:x/upgrade, C:x/consensus

#431 chore: update to go1.23 in prep for celestia-core fork replace
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/release-confix.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  Dockerfile
  contrib/devtools/Dockerfile
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  go.mod
  simapp/go.mod
  tests/go.mod
  x/upgrade/go.mod
Labels: Type: CI, Type: Build, C:x/upgrade

#435 feat: add mempool client to cometrpc interface
  CHANGELOG.md
  client/cometbft.go
Labels: C:CLI
