Repository celestiaorg/cosmos-sdk, pull requests merged in 2025-04, with the labels that each got.

#442 feat(x/authz): add limits to grant pruning and enable message to aid manually
  CHANGELOG.md
  Makefile
  README.md
  api/cosmos/authz/v1beta1/event.pulsar.go
  api/cosmos/authz/v1beta1/tx.pulsar.go
  api/cosmos/authz/v1beta1/tx_grpc.pb.go
  proto/cosmos/authz/v1beta1/event.proto
  proto/cosmos/authz/v1beta1/tx.proto
  x/authz/README.md
  x/authz/event.pb.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/keeper/msg_server.go
  x/authz/keeper/msg_server_test.go
  x/authz/module/abci.go
  x/authz/module/autocli.go
  x/authz/tx.pb.go
Labels: C:x/authz, Type: Build

#432 feat: add timeout info to initChain and finalizeBlock resps
  CHANGELOG.md
  baseapp/abci.go
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  types/abci.go
  x/auth/tx/query.go
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/auth, C:x/upgrade

#437 feat: implement cip-30
  api/cosmos/distribution/v1beta1/distribution.pulsar.go
  proto/cosmos/distribution/v1beta1/distribution.proto
  tests/integration/distribution/keeper/common_test.go
  tests/integration/distribution/keeper/grpc_query_test.go
  x/distribution/client/cli/tx.go
  x/distribution/client/cli/tx_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper.go
  x/distribution/module.go
  x/distribution/types/distribution.pb.go
  x/distribution/types/keys.go
Labels: C:CLI, C:x/distribution

#443 refactor: make x/staking delegation key migration limited (lazy migration)
  CHANGELOG.md
  README.md
  tests/integration/staking/keeper/determinstic_test.go
  x/staking/keeper/abci.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/validator_index.go
  x/staking/keeper/validator_index_test.go
  x/staking/migrations/v5/keys.go
  x/staking/migrations/v5/store.go
  x/staking/types/keys.go
Labels: C:x/staking

#447 refactor: update x/slashing missed blocks key and migration handler
  CHANGELOG.md
  README.md
  x/slashing/abci.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/migrations.go
  x/slashing/migrations/v4/keys.go
  x/slashing/migrations/v4/migrate.go
  x/slashing/migrations/v4/migrate_test.go
  x/slashing/types/keys.go
Labels: C:x/slashing

#449 fix: ParseDelegationKey comments and add unit tests
  x/staking/keeper/validator_index.go
  x/staking/keeper/validator_index_test.go
Labels: C:x/staking, WS: v4

#445 chore: add tx priority fields for check tx
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/test_helpers.go
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/upgrade

#455 feat: add block api wiring and block api proxy server for standalone mode
  CHANGELOG.md
  README.md
  go.mod
  go.sum
  server/grpc/block_api_proxy.go
  server/start.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/upgrade, WS: v4

#453 feat: block api proxy client/server impl
  README.md
  server/grpc/block_api_proxy.go
  server/grpc/server.go
  server/start.go
  testutil/network/util.go
Labels: WS: v4

#454 chore: add max commission rate
  proto/cosmos/distribution/v1beta1/distribution.proto
  tests/e2e/distribution/grpc_query_suite.go
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  testutil/network/network.go
  x/slashing/keeper/slash_redelegation_test.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/msg_server_test.go
  x/staking/simulation/operations.go
  x/staking/types/params.go
  x/staking/types/params_test.go
  x/staking/types/staking.pb.go
Labels: C:Simulations, C:x/slashing, C:x/staking, WS: v4
